{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
<nav>
    <a href="default"> # Acceuil </a>
    <a href="sejour"> # Séjours </a>
    <a href="destination"> # Destinations </a>
</nav>

<h1> Accueil </h1>

{% endblock %}
