{% extends 'base.html.twig' %}

{% block title %}Hello ActivityController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1> Les activités </h1>

    
    <ul>
    {% for act in activities %}
        <a href="{{path('activity_display', {'activity' : act.id })}}"><li> {{act.name }}</a>
        <a class="badge badge-danger" href="{{path('activity_delete', {'activity' : act.id })}}">  supprimer </a> </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}
