{% extends 'base.html.twig' %}


{% block body %}
    
<h1> Votre choix  </h1>

{% if environement == 'ski' %}
    <p>TROP COOOL, vive la NEIIIIIIGE</p>
{% elseif environement == 'soleil' %}
    <p>TROP COOOL, vive le soleil</p>
{% elseif environement == 'campagne' %}
    <p>TROP COOOL, on se la coule douce ! </p>
{% endif %}
{% endblock %}

