{% extends 'base.html.twig' %}

{% block title %}Hello DestinationController!{% endblock %}

{% block body %}

<h1>Choississez votre destination : </h1>
    <ul>
    {% for dest in destinations %}
        <li > <a class="btn btn-primary" href="{{path('destination_environement', {'environement' : dest.type })}}"> {{ dest.lieu | capitalize }} </a></li>
    {% endfor %}
    </ul>

 <a href="{{path('destination_add')}}">Ajouter destination</a>
 
{% endblock %}

