{% extends 'base.html.twig' %}

{% block title %}Hello DestinationController!{% endblock %}

{% block body %}

<h1>Choississez votre destination : </h1>
    <ul>
    {% for dest in destinations %}
        <li><a href="{{path('destination_environement', {'environement' : dest })}}"> {{ dest}} </a></li>
    {% endfor %}
    </ul>

 
{% endblock %}

