<header>
        <img src="{{ asset('img/logo.png') }}">
   <nav>
        <a href="{{path('default')}}"> # Acceuil </a>
        <a href="{{path('sejour')}}"> # Séjours </a>
        <a href="{{path('destination')}}"> # Destinations </a>
    </nav>
 
</header>