{% extends 'base.html.twig' %}

{% block title %}Hello SejourController!{% endblock %}

{% block body %}
<nav>
    <a href="default"> # Acceuil </a>
    <a href="sejour"> # Séjours </a>
    <a href="destination"> # Destinations </a>
</nav>

<h1>Choississez votre séjour : </h1>
{% endblock %}
